{% extends "plantilla_base.html" %}
{% block titulo %} Series  {% endblock %}
{% block contenido %}

{%if messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top:5%; margin-right:5%; margin-left:5%">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{%endif%}

<h1 class="pt-5 mt-5" style="font-weight:bold; color:#31d2f2">Lista de Series:</h1>
<table class="table table-resposive mb-0">
    <tr class="listado" >
        <th >ID</th>
        <th >Imagen</th>
        <th >Nombre</th>
        <th >Estudio</th>
        <th >Descripción</th>"
        <th >ID Youtube</th>
        <th >Precio</th>
        <th >Stock</th>
        <th >Claves</th>
        <th >Categoria</th>
        <th >Lanzamiento</th>
        <th style="color: cornflowerblue">Modificar</th>
        <th style="color:red" >Eliminar</th>

    </tr>
    {%for serie in series%}
    </tr>
        <td > {{serie.idSerie}} </td>
        <td ><a href="{{serie.idJuego}}"><img src="{{serie.imagen.url}}" alt="No disponible" style="max-width: 100px; max-height: 140px;"></a></td>
        <td >{{serie.nombre}}</td>
        <td >{{serie.estudio}}</td>
        <td >{{serie.descripcion}}</td>
        <td >{{serie.ytVidId}}</td>
        <td >${{serie.precio}}</td>
        <td >{{serie.stock}}</td>
        <td >{%if serie.clave %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check text-center" viewBox="0 0 16 16" style="color: #4463f2;">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            {%endif%}
        </td>
        <td >{{serie.categoria.nombre}}
        <td >{{serie.fechalanz}}
        </td>
        <td class="text-center"><a href="{% url 'modificarSerie' idSerie=serie.idSerie %}" class="btn btn-info btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="color:white">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
        </a></td>
        <td class="text-center"><a href="{% url 'eliminarSerie' idSerie=serie.idSerie %}" class="btn btn-danger btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg>
        </a></td>

    {%endfor%}
    </tr>
        <a href="{%url 'registroSeries' %}"><button class="btn btnAgregar btn-success mb-3" id="btnAgregar" style="background-color: #4463f2;border: none; align-items:end;">Agregar Serie</button></a>
    <table class="table table-resposive">
        <div class="container-fluid d-flex flex-column min-vh-100">
        </div>
{%endblock%}
