{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {%endblock%}</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar fixed-top">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="color: white; border: none">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
            </button>
            <a class="navbar-brand" href="{% url 'principal' %}"> <img src="{% static 'img/M2A.png' %}" alt="..." width="45%"></a>
          </div>
          <div class="d-none d-lg-block d-flex justify-content-center" style="flex-grow: 0.6;">
            <form class=" d-flex" role="search">
              <input class="form-control me-2 flex-grow-1" type="search" placeholder="¿Qué estás buscando?" aria-label="Search" id="busqueda">
              <button class="btn btn-outline-success" type="submit" id="btn-busqueda">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </button>
            </form>
          </div>
          <a class="btn btn-primary btn-lg ms-auto d-none d-lg-block" href="{% url 'verCarro' %}" role="button" style="width: 4; padding-right: 12px; justify-content: center;" id="carro">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="align-items: center;">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
          </a>
  {% if user.is_authenticated %}
  {% csrf_token %}
          
   <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
    {% csrf_token %}
    </form>
        <a href="#" class="ms-auto d-none d-lg-block" onclick="document.getElementById('logout-form').submit();" style="text-decoration: none; color: #4463f2; padding-right: 7px;">Cerrar Sesión</a>
            <a href="{% url 'logout' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" fill="currentColor" class="bi bi-person-circle d-none d-lg-block" viewBox="0 0 16 16" style="color: #4463f2;">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </a>
  {% else %}
            <a href="{% url 'login' %}" id="logintext" class="ms-auto d-none d-lg-block" style="text-decoration: none; color: white; padding-right: 7px;">Iniciar Sesión</a>
            <a href="{% url 'login' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" fill="currentColor" class="bi bi-person-circle d-none d-lg-block" viewBox="0 0 16 16" style="color: whitesmoke;">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </a>
  {% endif %}         
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <a class="navbar-brand" href="{% url 'principal' %}"> <img src="{% static 'img/M2A.png' %}" alt="..." width="45%"></a>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <form class=" d-flex d-lg-none" role="search">
                  <input class="form-control me-2 flex-grow-1" type="search" placeholder="¿Qué estás buscando?" aria-label="Search" id="busqueda">
                  <button class="btn btn-outline-success" type="submit" id="btn-busqueda">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                  </button>
                </form>
    
                <a href="{% url 'verCarro' %}">
                <li>
                  <a class="carroPrincipal btn btn-primary btn-lg ms-auto d-lg-none mt-2" href="{% url 'verCarro' %}" role="button" style="width: 4;" id="carro">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                  </a>
                </li></a>
               
    
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'principal' %}" style="color: white;">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                    Videojuegos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'principal' %}">Todos los juegos</a></li>
                  </ul>
                </li>
  {% if user.is_authenticated  %}
                <li class="nav-item">
                  <a class="nav-link active d-lg-none" aria-current="page" href="{% url 'registroUsuarios' %}" style="color: white;">Cerrar sesión</a>
                </li>
  {% else %}
                <li class="nav-item">
                  <a class="nav-link active d-lg-none" aria-current="page" href="{% url 'registroUsuarios' %}" style="color: white;">Registrarse</a>
                </li>
  {% endif %}
  {% if user.is_superuser %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                    Administración
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'listadoJuegos' %}">Lista de juegos</a></li>
                    <li><a class="dropdown-item" href="{% url 'listadoSeries' %}">Lista de series</a></li>
                    <li><a class="dropdown-item" href="{% url 'listadoUsuarios' %}">Lista de usuarios</a></li>
                  </ul>
                </li>
  {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container-fluid d-flex flex-column min-vh-50">
        {% block contenido %}
        {% endblock %}
      </div>
      <div class="container-fluid d-flex flex-column" style="padding: 0;">
        <footer class="footer mt-auto py-3 " style="background-color: #05030d;">
          <div class="d-flex align-items-center" style="justify-content: center; padding-top: 15px; padding-bottom: 15px;">

              <img src="../static/img/M2A.png" alt="M2A Logo" width="85px">
              <span class="mb-3 mb-md-0" style="padding-left: 15px; text-align: center; color: whitesmoke">© 2024 Grupo M2A</span>
            </div>
          </div>
        </footer>
      </div>
</body>
</html>