{% extends "plantilla_base.html"  %}
{% block titulo %} Registro Juegos {% endblock %}
{% block contenido %}

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header" style="text-align: center; font-size: 20px; background-color: #202043; color: whitesmoke; font-weight: bold;">
                        Vista previa de la imagen
                    </div>
                    <div class="card-body text-center">
                        <img id="vista-previa" src="{{habitacion.imagen.url}}" alt="" class="img-fluid vista-previa">
                        <button type="button" class="btnVistaPreviaJ btn btn-primary btn-sm mt-3" style="width: 60%;">Vista previa</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <form class="card mb-5 " action="{% url 'subirHab' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
                    <div class="card-header" style="text-align: center; font-size: 20px; background-color: #202043; color: whitesmoke; font-weight: bold;">
                        Crear Habitación
                    </div>
                
                    <div class="card-body" style="background-color: #2f2c58;">
                      <input type="hidden" name="txtId" value="0{{habitacion.idHab}}">
                            <div class="mb-3">
                                <label for="nombre" class="form-label" style="color: whitesmoke;">Nombre de la habitación</label>
                                <input type="text" value="{{habitacion.nombre}}" name="nombre" class="txtJNombre form-control" id="nombre" style="background-color: #14142b; border-color: #202043; color: white;" placeholder="Ingresa el nombre (máximo 20 carácteres)" required>
                            </div>
                          <div class="mb-3">
                            <label for="dispHab" class="form-label" style="color: whitesmoke;">Disponibilidad</label>
                            <select class="dispHab form-select form-select-sm" value="{{habitacion.dispHab}}" aria-label="Default select example" name="dispHab" style="background-color: #14142b; border-color: #202043; color: white" required>
                              <option selected>Seleccione disponibilidad</option>
                              {%for dispHab in disponibilidad%}
                                {%if habitacion.dispHab.idDisp == dispHab.idDisp %}
                                <option name="idDisp" value="{{dispHab.idDisp}}" selected>{{dispHab.nombre}}</option>
                                {%else%}
                                <option name="idDisp" value="{{dispHab.idDisp}}">{{dispHab.nombre}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                            <div class="mb-3">
                                <label for="descripcion" class="form-label" style="color: whitesmoke;">Descripción</label>
                                <textarea name="descripcion" class="txtJDesc form-control" id="descripcion" rows="3" style="background-color: #14142b; border-color: #202043; color: white;" placeholder="Descripción de la habitación" required>{{habitacion.descripcion}}</textarea>
                            </div>
                            <div class="mb-3">
                                {%if habitacion.imagen%}
                                <label for="imagen" class="form-label" style="color: whitesmoke;">Imagen principal: {{habitacion.imagen.url}} </label>
                                <input type="file" name="imagen" value="{{habitacion.imagen}}" class="Img form-control imagen1" id="imagen" accept="image/*">
                                {%else%}
                                <label for="imagen" class="form-label" style="color: whitesmoke;">Imagen principal:</label>
                                <input type="file" name="imagen" value="{{habitacion.imagen}}" class="Img form-control imagen1" id="imagen" accept="image/*" required>
                                {%endif%}
                            </div>
                            <div class="mb-3">
                                {%if capturas%}
                                <label for="captura" class="form-label" style="color: whitesmoke;">Imágenes de la habitación: {{urlCapturas}} </label>
                                <input type="file" name="captura" value="{{captura.imagen}}" class="Img form-control" id="captura" accept="image/*" multiple>
                                {%else%}
                                <label for="captura" class="form-label" style="color: whitesmoke;">Imágenes de la habitación</label>
                                <input type="file" name="captura" value="{{habitacion.imagen}}" class="Img form-control" id="captura" accept="image/*" required multiple>
                                {%endif%}
                            </div>
                            <div class="mb-3">
                              <label for="precio" class="form-label" style="color: whitesmoke;">Precio por noche</label>
                              <input type="number" name="precio" value="{{habitacion.precio}}" class="txtJPrecio form-control" id="precio" style="background-color: #14142b; border-color: #202043; color: white;" placeholder="Ingresa el precio en CLP" required min="1">
                          </div>
                          <div class="mb-3">
                            <label for="capacidad" class="form-label" style="color: whitesmoke;">Ingrese capacidad</label>
                            <input type="number" name="capacidad" value="{{habitacion.capacidad}}" class="txtJStock form-control" id="capacidad" style="background-color: #14142b; border-color: #202043; color: white;" placeholder="Ingrese la capacidad de personas" required min="1">
                        </div>
                            <div class="mb-3">
                              <label for="tipoHab" class="form-label" style="color: whitesmoke;">Tipo de habitación</label>
                              <select class="txtJPlataforma form-select" name="tipoHab" value="{{habitacion.tipoHab}}" id="tipoHab" style="background-color: #14142b; border-color: #202043; color: white;" required>
                                <option value="">Selecciona un tipo de habitación</option>
                                {%for tipoHab in tipoHabs%}
                                {%if habitacion.tipoHab.idTipo == tipoHab.idTipo %}
                                <option name="idTpoClave" value="{{tipoHab.idTipo}}" selected>{{tipoHab.nombre}}</option>
                                {%else%}
                                <option name="idTpoClave" value="{{tipoHab.idTipo}}">{{tipoHab.nombre}}</option>
                                {%endif%}
                                {%endfor%}
                              </select>
                            </div>
                            <div class="mb-3">
                                <label for="servicio" class="form-label" style="color: whitesmoke;">Servicios</label>
                                <select class="servicio form-select form-select-sm" value="{{habitacion.servicio}}" aria-label="Default select example" name="servicio" style="background-color: #14142b; border-color: #202043; color: white" required>
                                  <option selected>Seleccione servicios</option>
                                  {%for servicio in servicios%}
                                  {%if habitacion.servicio.idServ == servicio.idServ %}
                                  <option name="idServ" value="{{servicio.idServ}}" selected>{{servicio.nombre}}</option>
                                  {%else%}
                                  <option name="idServ" value="{{servicio.idServ}}">{{servicio.nombre}}</option>
                                  {%endif%}
                                  {%endfor%}
                                </select>
                            </div>                
                          <div class="row pt-3">
                            <div class="col-2 d-flex justify-content-start">
                                <button class="btn-aceptar btn me-auto" style="font-weight: bold;" id="limpiarJuego">Limpiar</button>
                            </div>
                            <div class="col-2 offset-8 d-flex justify-content-end">
                            <button type="submit" name="enviarHab" class="btn-aceptar btn ms-auto" style="font-weight: bold; align-items: end;" id="enviarHab">Agregar</button>
                            </div>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}