body{
    background-color: #0A0A0A;
}

h1{
    color: #88bfa0;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

#tituloportada{
    text-align: center;
    font-size: 25px;
}
.navbar{
    background-color: #171717;
}

.h5portada{
    text-shadow: 2px 2px #212428;
}
.descripcionportada{
    text-shadow: 2px 2px #212428;
}

.carouselExampleCaptions{
    padding-top:  100px;
}

.navbar-brand{
    padding-left: 2rem;
    color: black;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-toggler-icon{
    color: #212144;
}

.carousel-item:before{
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.carousel-item:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
.offcanvas-body{
    background-color: #0a0a0a;
}

.offcanvas-header{
    background-color: #0a0a0a;
}

#offcanvasNavbarLabel{
    color: black;
}

#btn-busqueda{
    background-color: #88BFA0;
    color: white;
    border: none;
}

#btn-busqueda:hover{
    background-color: #478562;
    color: white;
    border: none;
}

.card{
    background-color: #171717;
    color: whitesmoke;
}

#desarrollador{
    color: #E8BA74;
}
#producto{
    color: #88BFA0;
}
#stock{
    color: #88BFA0;
}
#titulojuego{
    font-weight: bold;
}

#btn-carro{
    background-color: #E8BA74;
    color: white;
    border: none;
}

#btn-carro:active{
    background-color: #E2A850;
    color: white;
    border: none;
    
}
#btn-carro:hover{
    background-color: #E2A850 ;
}

#carro{
    background-color: #E8BA74;
    color: white;
    border: none;
}

#carro:hover{
    background-color: #E2A850;
    color: white;
    border: none;
}

#carro:active{
    background-color: #E2A850;
    color: white;
    border: none;
}

.dropdown-item{
    color: #e6dfd6;
}
.dropdown-menu{
    background-color: #171717;
    color: #e6dfd6;
}
.dropdown-menu:hover{
    color: #212144;
}

.dropdown-item:hover{
    background-color: #171717;
    color: #e6dfd6;
}

.dropdown-item{
    color: #e6dfd6;
}
.edad{
    font-weight: bold;
}

#busqueda{
    background-color: #E6DFD6;
    border-color: #E6DFD6;
    color: #E6DFD6;
}
#busqueda::placeholder{
    background-color: #E6DFD6;
    border-color: #E6DFD6;
    color: rgb(117, 113, 101)
}

#btn_conversion{
    background-color: #e6dfd6;
    border-color: #E6DFD6;
    color: #171717;
}
#btn_conversion:hover{
    background-color: #b3ada6;
    border-color: #b3ada6;
    color: #171717;
}

#btn_conversion:active{
    background-color: #b3ada6;
    border-color: #b3ada6;
    color: #171717;
}

.form-control::placeholder{
    color: #b0bdf8
}

.btn-aceptar{
    background-color: #4463f2;
    color: white;
}
.btn-aceptar:hover{
    background-color: #11ced0;
    color: white;
}

.txtDesc::placeholder{
    color: #b0bdf8
}
#rut::placeholder{
    color: #b0bdf8
}
#nombre::placeholder{
    color: #b0bdf8
}
#apellido::placeholder{
    color: #b0bdf8
}
#correo::placeholder{
    color: #b0bdf8
}
#telefono::placeholder{
    color: #b0bdf8
}
#titulo::placeholder{
    color: #b0bdf8
}
#descripcion::placeholder{
    color: #b0bdf8
}
.card-img-top:hover{
    box-shadow: 0 2px 4px #E8BA74; /* probé con varios pero este no se ve tan invasivo */
    transform: scale(1.05); 
    transition: transform 0.3s ease;
  }

.btnVistaPreviaJ{
    background-color: #11ced0;
    color: #14142b;
    font-weight: bold;
    border: none;
}

.btnVistaPreviaS{
    background-color: #11ced0;
    color: #14142b;
    font-weight: bold;
    border: none;
}
.img-clickable:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

.footer {
    width: 100%;
    background-color: #171717;
  }

.table{
    border-radius: 6px;
    overflow:hidden;
}